__pycache__
*.out
*.pdf
*.gnu
*.dat
./*.py
Docs/jupyter/.ipynb_checkpoints/
*.log
jupyter/*.html
lekkersim/_version.py
tests
.gitlab-ci.yml.back
docs-build/
Docs/generated/
pytest/.coverage
pytest/htmlcov
.idea
